.wrapper{
 height: 100vh;
 width: 100vw;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 } 
#btn{
width: 20%;
padding: 10px;
border-radius: 10px;	
background-color: rgb(30, 110, 208) ;
font-size:larger ;	
color: white;	
margin-bottom: 2rem;
} 

.bg-color{
 width: 23%;
 height: 80vh;
 background-color: rgb(234, 234, 234);
 border-radius: 10px;
 overflow: auto;
 }

